@import url("https://fonts.googleapis.com/css?family=Michroma&display=swap");

body {
    background: linear-gradient(90deg, #04688a 2%, #3b3a3b 98%);
    font-family: Michroma, serif;
}

p{
    color: aquamarine;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 50, 50, 0.55);
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgba(208, 255, 0, 0.55);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(106, 106, 105);
}
.sidebar {
    color: rgb(255, 255, 255);
    background: linear-gradient(270deg, #2b3437 2%, #0c604b 98%);
}

.card {
    background: linear-gradient(270deg, #2b3437 2%, #0c604b 98%);
    color: aquamarine;
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text, .footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer, .btn-outline-primary {
    background: linear-gradient(270deg, #2b3437 2%, #0c604b 98%);

}

.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

@media (max-width:775px) {
    .carousel-indicators {
        display: none;
    }
}
